<%- include("../partials/header") %>

<!-- Breadcrumb Section Begin -->
<div class="breacrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <a href="#"><i class="fa fa-home"></i> Home</a>
                    <span>Shop&nbsp;|&nbsp;</span><span>&nbsp;Wishlist</span>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Product Shop Section Begin -->
<section class="product-shop spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-8 order-2 order-lg-1 produts-sidebar-filter">
                <div class="filter-widget">
                    <h4 class="fw-title">Categories</h4>
                    <ul class="filter-catagories">
                        <li><a href="/products/men">Men</a></li>
                        <li><a href="/products/women">Women</a></li>
                        <li><a href="/products/kids">Kids</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-9 order-1 order-lg-2">
                <div class="product-show-option">
                    <div class="row">
                        <div class="col-lg-7 col-md-7">
                            <div class="select-option">
                                <select class="sorting">
                                    <option value="">Default Sorting</option>
                                </select>
                                <select class="p-show">
                                    <option value="">Show:</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-lg-5 col-md-5 text-right">
                            <p>Show 01- 09 Of 36 Product</p>
                        </div>
                    </div>
                </div>
                <div class="product-list">
                    <div class="row">
						<% if(currentUser){ %>
							<% if(bookmarkedProducts !=null){ %>
								<% bookmarkedProducts.forEach(function(product){ %>
									<div class="col-lg-4 col-sm-6">
										<div class="product-item">
   	  	                    		   	    <div class="pi-pic">
   	  	                    		   	        <img src="<%= product.imgBig %>" alt="Product Image">
   	  	                    		   	        <!-- <div class="sale pp-sale">Sale</div> -->
   	  	                    		   	        <div class="icon">
   	  	                    		   	            <% if(currentUser){ %>
														<% for(var i =0; i<currentUser.bookmarkCollection.length; i++){ %>
															<% if(String(currentUser.bookmarkCollection[i]) === String(product._id)){ %>
																<% currentUser.bookmarkStatus = true; %>
																<% break; %>
															<% }else{ %>
																<% currentUser.bookmarkStatus = false; %>
															<% } %>
														<% } %>
														
														<% if(currentUser.bookmarkStatus){ %>
															<button onclick="bookmarkOnPost(event);" class=" far fas fa-heart"  style="border:none; background:none;"
															data-post-id="<%= product._id %>"></button>
															<!-- <i class="fas fa-heart"></i> -->
														<% }else{ %>
															<!-- <i class="far fa-heart"></i> -->
															<button onclick="bookmarkOnPost(event);" class="far fa-heart"  style="border:none; background:none;"
															data-post-id="<%= product._id %>"></button>
														<% } %>            			
													<% } %>
   	  	                    		   	        </div>
   	  	                    		   	        <ul>
   	  	                    		   	            <% if(currentUser){ %>
                                	            		<li class="w-icon active shopping"><a href="javascript:void(0)" onclick="addToCart('<%= product._id %>', this);" ><i class="fas fa-cart-plus"></i></a></li>
                        	            			<% } else{ %>
														<li class="w-icon active"><button href="/login"><i class="fas fa-cart-plus"></i></button></li>
													<% } %>
													<li class="quick-view"><a href="/products/<%= product._id %>">+ Quick View</a></li>
   	  	                    		   	            <!-- <li class="w-icon"><a href="#"><i class="fa fa-random"></i></a></li> -->
   	  	                    		   	        </ul>
   	  	                    		   	    </div>
   	  	                    		   	    <div class="pi-text">
   	  	                    		   	        <div class="catagory-name">Towel</div>
   	  	                    		   	        <a href="#">
   	  	                    		   	            <h5><%= product.name %></h5>
   	  	                    		   	        </a>
   	  	                    		   	        <div class="product-price">
   	  	                    		   	            $<%= product.discPrice %>
   	  	                    		   	            <span>$<%= product.actualPrice %></span>
   	  	                    		   	        </div>
   	  	                    		   	    </div>
   	  	                    		   	</div>
									</div>		
								<% }) %>
							<% } else{ %>
							<h4>&nbsp; &nbsp;No Bookmarks to show</h4>
							<% } %>
						<% }else{ %>
							<h4>&nbsp; &nbsp;You need to be logged in to check your Wishlist</h4>
						<% } %>
					</div>
                </div>
            </div>
        </div>
    </div>
</section>
    <!-- Product Shop Section End -->





<!-- 
<div class="container">
	<h1>Bookmarked Products</h1>
	<div class="row" style="display:flex; flex-wrap:wrap;">
		<% if(bookmarkedProducts !=null){ %>
			<% bookmarkedProducts.forEach(function(product){ %>
				<div class="col-md-4 col-sm-6">
					<div class="img-thumbnail img-fluid mt-3">
						<div class="row">
							<% if(product.imageC != ''){ %>
								<div class="col-sm-6 text-center">
									<img class="rounded img-fluid indexImages" src="<%= product.imageC %>" alt="Image of Foreign Product">
									<i class="far fa-times-circle fa-2x mt-1"></i>
								</div>
							<% }else{ %>
								<div class="col-sm-6 text-center">
									<img class="rounded img-fluid indexImages" src="<%= product.productImagePathChina %>" alt="Image of Foreign Product">
									<i class="far fa-times-circle fa-2x mt-1"></i>
								</div>
							<% } %>
							<% if(product.imageNc != ''){ %>
								<div class="col-sm-6 text-center ">
									<img class="rounded img-fluid indexImages" src="<%= product.imageNc %>" alt="Image of Indian Product">
									<i class="far fa-check-circle fa-2x mt-1"></i>
								</div>
							<% }else{ %>
								<div class="col-sm-6 text-center">
									<img class="rounded img-fluid indexImages" src="<%= product.productImagePathIndia %>" alt="Image of Indian Product">
									<i class="far fa-check-circle fa-2x mt-1"></i>
								</div>
							<% } %>
						</div>
						
						<figcaption class="figure-caption text-center"><h4><%= product.name %></h4></figcaption>
						
						<div class="row d-flex justify-content-center align-items-center">
							<span><%= product.likes %> Likes <i class="far fa-thumbs-up"></i>&nbsp;&nbsp;&nbsp;</span> 
							<span><%= product.comments.length %> Comments <i class="far fa-comment"></i>&nbsp;&nbsp;&nbsp;</span>
							<span><a class="a2a_dd" href="https://www.addtoany.com/share" data-a2a-url="https://rickypatelwebdevelopment.run-ap-south1.goorm.io/products/<%= product._id %>" data-a2a-title="Join us in making India 'AtmaNirbhar'. We have found the replacement of this foreign product. Check out the link. Product : <%= product.name %>">Share</a> <i class="far fa-share-square"> </i></span>
						</div>
						
						<div class="row mt-1 text-center">
							<% if(currentUser){ %>
								<div class="col-md-6">
									<a class="btn btn-primary btn-sm" href="/products/<%= product._id %>">More Info</a>
								</div>
							<% } else{ %>
								<div class="col-md-12">
									<a class="btn btn-primary btn-sm" href="/products/<%= product._id %>">More Info</a>
								</div>
							<% } %>
							
							<div class="col-md-6">
								<% if(currentUser){ %>
									<% for(var i =0; i<currentUser.bookmarkCollection.length; i++){ %>
										<% if(String(currentUser.bookmarkCollection[i]) === String(product._id)){ %>
											<% currentUser.bookmarkStatus = true; %>
											<% break; %>
										<% }else{ %>
											<% currentUser.bookmarkStatus = false; %>
										<% } %>
									<% } %>
									<button onclick="bookmarkOnPost(event);"  class="btn btn-sm btn-outline-primary border border-primary"
									data-post-id="<%= product._id %>">
									<% if(currentUser.bookmarkStatus){ %>
										Bookmarked
									<% }else{ %>
										Bookmark
									<% } %>            			
									</button>
								<% } %>
							</div>
						</div>
					</div>
				</div>
			<% }) %>
		<% } else{ %>
			<h4>&nbsp; &nbsp;No Bookmarks to show</h4>
		<% } %>
	</div>
</div>
 -->
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
		var bookmarkOnPost = function (event) {
			var postId = event.target.dataset.postId;
            event.target.classList.toggle("fas");
			console.log(event.target.classList.contains("fas"));
			if(event.target.classList.contains("fas")){
				func("Bookmarked");
			}else{
				func("Bookmark");
			}
			function func(action){
				axios.post('/products/' + postId + '/bookmark/'+action);	
			}
        };
		var addToCart = function (postId, elem){
			var icons = document.querySelectorAll('.shopping');
			icons.forEach(function(elem){
			elem.addEventListener("click",function(){
	 			elem.childNodes[0].childNodes[0].classList.remove("fa-cart-plus");
				elem.childNodes[0].childNodes[0].classList.add("fa-shopping-bag");
			});
		});
			axios.post('/products/' + postId + '/cart/AddToCart');
		};
</script>


<%- include("../partials/footer") %>